html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn-primary {
  color: #fff;
  background-color: #333;
  font-size: 1.125rem;
  text-decoration: none;
  border-radius: 8px;
  padding: .4em .75em .3em;
}

.btn-subtle {
  color: #fff;
  background-color: #ccc;
  font-size: 1.125rem;
  text-decoration: none;
  border-radius: 8px;
  padding: .4em .75em .3em;
}

a:hover.btn-subtle {
  background-color: #666;
}

.btn-ghost {
  color: #000;
  background-color: #fff;
  font-size: 1.125rem;
  text-decoration: none;
  border-radius: 8px;
  padding: .4em .75em .3em;
  border-style: solid;
  border-color: #000;
  border-width: 3px;
}

a:hover.btn-ghost {
  background-color: #666;
  color: #fff;
}

.btn-warning {
  color: #fff;
  background-color: #f33;
  font-size: 1.125rem;
  text-decoration: none;
  border-radius: 8px;
  padding: .4em .75em .3em;
}

a:hover.btn-warning {
  background-color: #933;
