html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

a.btn {
}

.btn-primary {
  font-size: 1.125rem;
  color: #fff;
  background-color: #333;
  text-decoration: none;
  border-radius: 8px;
  padding: .4em .75em .3em;
}

.btn:hover {
  background-color: #000;
}

.btn-subtle {
  color: #fff;
  background-color: #ccc;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost {
  color: #000;
  background-color: #fff;
  border-style: solid;
  border-color: #000;
  border-width: 3px;
}

.btn-ghost:hover {
  background-color: #666;
  color: #fff;
}

.btn-warning {
  color: #fff;
  background-color: #f33;
}

.btn-warning:hover {
  background-color: #933;
}

.btn-small {
  font-size: .875rem;
  text-decoration: none;
  border-radius: 8px;
  padding: .4em .75em .3em;
}

.btn-big {
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 8px;
  padding: .4em .75em .3em;
}

.btn {
  text-decoration: none;
}
